// src/styles/index.scss
@forward './mixins';
@forward './variables';

@use './variables' as *;

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}